/* LoginSuccessful.css */
.success-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .success-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .success-icon {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .success-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .tracking-button, .logout-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .tracking-button {
    background-color: #f39c12;
    color: white;
  }
  
  .tracking-button:hover {
    background-color: #e67e22;
  }
  
  .logout-button {
    background-color: #ccc;
    color: white;
  }
  
  .logout-button:hover {
    background-color: #aaa;
  }
  